<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script>
        angular.module('classification', [])
            .controller('ClassificationCtrl', ['$scope', function ($scope) {
                vm = this;

                $scope.urlVarAngular = "";
                $scope.policyUrl = "";
                $('#loading').hide();
                $scope.classificationArray = [];


                vm.url = "http://classifier.eaas.uni-freiburg.de/imageclassifier/api/v1/classifications";

                vm.getResult = function (url) {

                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (data) {
                            console.log("output: ", data);
                            if (typeof data.identificationData !== "undefined") {
                                clearInterval(vm.intervalVal);
                                $scope.classificationArray = (data.identificationData.randomId.entries);
                                console.log("$scope.classificationArray", $scope.classificationArray);
                                $scope.$apply();
                                $('#loading').hide();

                            }
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            console.log(errorThrown);
                            alert("Error: get request failed!\n" + errorThrown);
                            clearInterval(vm.intervalVal);
                            $('#loading').hide();
                        }
                    })
                };

                $scope.identify = function () {

                    console.log("$scope.urlVarAngular", $scope.urlVarAngular);
                    console.log("$scope.policyUrl", $scope.policyUrl);
                    $.ajax({
                        type: "POST",
                        url: vm.url,
                        dataType: 'json',
                        data: JSON.stringify({
                            fileCollection: {
                                file: [{
                                    url: $scope.urlVarAngular,
                                    id: "randomId"
                                }]
                            },
                            policy_url: $scope.policyUrl
                        }),
                        contentType: 'application/vnd.bwfla.imageclassifier.request.v1+json',
                        success: function (data, status, xhr) {
                            vm.intervalVal = setInterval(() => vm.getResult(xhr.getResponseHeader("Location")), 3000);
                            $('#loading').show();
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            console.log(errorThrown);
                            alert("Error: request failed!\n" + errorThrown);
                        }
                    })
                };
            }]);

    </script>
</head>
<body ng-app="classification">
<div class="wrapper">
<div class="centerContainer">
<form ng-submit="identify()" method="post" ng-controller="ClassificationCtrl">
    <input type="text" placeholder="Image URL" ng-model="urlVarAngular" name="fname" required><br>
    <input type="text" placeholder="Policy URL" ng-model="policyUrl" required> <br>
    <input type="submit" class="btn" value="Submit classification request"><br>
</form>

<div id="loading">
    <br>
    <IMG SRC="Ripple-1.2s-200px.gif">
</div>

<div ng-controller="ClassificationCtrl">
    <ul>
        <li ng-repeat="classification in classificationArray">
            <div class="back{{classification.value}}">
            value: {{classification.value}} <br>
            type: {{classification.type}} <br>
            count: {{classification.count}} <br>
            typeName: {{classification.typeName}} <br>
            toDate: {{classification.toDate}} <br>
            </div>
            <br>
        </li>
    </ul>
</div>
</div>
</div>
</body>
</html>