
.centerContainer {
    text-align: center;
}

.backRED {
    background-color: #FF6347;
}
.backYELLOW {
    background-color: #FFFF00;
}
.backGREEN {
    background-color: #7FFF00;
}

.btn {

    background-color: #f1f1f1;
    color: black;
    font-size: 13px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}